*{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: palevioletred;
}

h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: red;
    background-color: seagreen;
    margin: auto;
    text-align: center;
}

li{
    font-size: 50px;
    font-weight: 600;
}

article{
    font-family: Impact;
    font-size: 40px;
    font-weight: 500;
    color: royalblue;
}

aside{
    color: salmon;
    padding: 20%;
    background-color: sandybrown;
    text-align: center;
}

