$font: 'Manrope', sans-serif;

.container{
    display: flex;
    max-width: 50%;
    border-radius: 10px;
    border: 1px black solid;
    .container2{
    padding-left: 30px;
        h3{
            font-family: $font;
        }
        img{
            border-radius: 50%;
            max-width: 40px;
        }
        p{
            font-family: $font;
            font-size: 13px;
        }
    
    }
}

//font-family: 'Manrope', sans-serif;
//- Very Dark Grayish Blue: hsl(217, 19%, 35%) Desaturated Dark Blue: hsl(214, 17%, 51%)    Grayish Blue: hsl(212, 23%, 69%)    Light Grayish Blue: hsl(210, 46%, 95%)