
*{
    box-sizing: border-box;
}
main{
    
}

nav{
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-texto{
    margin-left: auto;
    box-sizing: border-box;
    padding: 5px;
    color: white;   
    font-family: sans-serif;
    text-decoration: none;
}

.nav-texto:hover{
    color: orange;
    font-style: it;
    text-decoration: underline;
    transition: ease-in;
}

.logo{
    display: flex;
    box-sizing: border-box;
    align-self: center;
    width: 100px;

}
.green-button{
    background-color:lawngreen;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
.first-text{
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font-style-bold{
    font-weight: 900;
}
.section1{
    border-style: solid;
   
}
.forms{
    
    border-style: solid;
    justify-content: right;
    text-align: left;

    
}
.formulario{
    text-align: left;
    background-color: #3F5280;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.color-yellow{
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.raya-amarilla-horizontal{
    border: orange;
    border-radius: 10px;
    width: 50%;
    border-style: inset;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.download-button{
    width: 50%;
    align-self: center;
    background-color: lawngreen;
    border-color: white;
}
.aside{
    padding: 30px;
}
   
.imagen1{
    float: left;
    padding: 20px;
}
.texto-final{
    padding: 10px;
}

.raya-amarilla-vertical{
    border-right: goldenrod;
    border-width: 10px;
    border-style: dotted;
}
.red{
    color: red;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-group{
    padding: 10px;
    align-self: center;
}
main{
   display: flex;
   justify-content: space-between;
}
.article-2{ 
    display: flex;   
    border-width: 1px;
    border-color: black;
    border-style: double;
}
